<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Долгосрочный паркинг авто</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900|Oswald:300,400,700" rel="stylesheet">
    <link type="text/css" href="{{ url_for('static', filename='fonts/icomoon/style.css')}}" rel="stylesheet" />

    <link type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{ url_for('static', filename='css/jquery-ui.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{ url_for('static', filename='css/owl.theme.default.min.css')}}" rel="stylesheet" />

    <link type="text/css" href="{{ url_for('static', filename='css/jquery.fancybox.min.css')}}" rel="stylesheet" />

    <link type="text/css" href="{{ url_for('static', filename='css/bootstrap-datepicker.css')}}" rel="stylesheet" />
                                                                                                                                                                                                                                                                                                    <!--Back it stu', I mean it, 808-ой толкает волну-->
                                                                                                                                                                                                                                                                                                    <!--(У, я) Hello, мир, Манера крутит мир-->
                                                                                                                                                                                                                                                                                                    <!--В дабл капе мои заны, а другой держу свой bean-->
                                                                                                                                                                                                                                                                                                    <!--(У, я) Погоди, I’m swervin' shit один-->
                                                                                                                                                                                                                                                                                                    <!--И мне так похуй, я застрял среди этих паутин (М-м)-->
    <link type="text/css" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{ url_for('static', filename='css/aos.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    <link type="text/css" href="{{ url_for('static', filename='fonts/icomoon/style.css')}}" rel="stylesheet" />
  </head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo m-0 p-0"><a href="index.html" class="mb-0">Долгосрочный паркинг</a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="#home-section" class="nav-link">Главная</a></li>
                <li><a href="#agents-section" class="nav-link">Команда</a></li>
                <li><a href="#howitworks-section" class="nav-link">Как это работает</a></li>
                <li><a href="#about-section" class="nav-link">Почему мы?</a></li>

                <li><a href="#contact-section" class="nav-link">Оформить заказ</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>

    </header>


    <div class="site-block-wrap">
    <div class="owl-carousel with-dots">
      <div class="site-blocks-cover overlay overlay-2" style="background-image: url({{ url_for('static', filename='images/EDWYZfmdy14.jpg') }});" data-aos="fade" id="home-section">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-6 mt-lg-5 text-center">
              <h1 class="text-shadow">Долгосрочный паркинг вашего автомобиля</h1>
              <p class="mb-5 text-shadow">Оставьте свой автомобиль на долгосрочный паркинг и наслаждайтесь спокойствием и уверенностью!</p>
              <p><a href="#contact-section" target="_blank" class="btn btn-primary px-5 py-3">Оформить заявку</a></p>

            </div>
          </div>
        </div>


      </div>

      <div class="site-blocks-cover overlay overlay-2" style="background-image: url({{ url_for('static', filename='images/abc.jpg') }});" data-aos="fade" id="home-section">


        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-6 mt-lg-5 text-center">
              <h1 class="text-shadow">Доверьте свой автомобиль профессионалам!</h1>
              <p class="mb-5 text-shadow">Уверенность на долгие месяцы: выберите наш сервис долгосрочного паркинга для вашего авто!</p>
              <p><a href="#contact-section" target="_blank" class="btn btn-primary px-5 py-3">Перейти к оформлению</a></p>

            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

    <section class="site-section" id="agents-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-7 text-left">
            <h2 class="section-title mb-3">Кто мы?</h2>
            <p class="lead">мы команда профессионалов на рынке долгосрочного паркинга.</p>
          </div>
        </div>
        <div class="row">


          <div class="col-md-6 col-lg-4 mb-4">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="#"><span class="icon-vk"></span></a></li>
                  <li><a href="#"><span class="icon-telegram"></span></a></li>
                </ul>
                <img src="{{ url_for('static', filename='images/person_1.jpg') }}" alt="Free website template by Free-Template.co" class="img-fluid">
              </figure>
              <div class="p-3 bg-primary">
                <h3 class="mb-2">Петров Пётр</h3>
                <span class="position">Генеральный директор</span>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="#"><span class="icon-vk"></span></a></li>
                  <li><a href="#"><span class="icon-telegram"></span></a></li>
                </ul>
                <img src="{{ url_for('static', filename='images/person_2.jpg') }}" alt="Free website template by Free-Template.co" class="img-fluid">
              </figure>
              <div class="p-3 bg-primary">
                <h3 class="mb-2">Иванов Иван</h3>
                <span class="position">Исполнительный директор</span>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-4">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="#"><span class="icon-vk"></span></a></li>
                  <li><a href="#"><span class="icon-telegram"></span></a></li>
                </ul>
                <img src="{{ url_for('static', filename='images/person_3.jpg') }}" alt="Free website template by Free-Template.co" class="img-fluid">
              </figure>
              <div class="p-3 bg-primary">
                <h3 class="mb-2">Архипов Олег</h3>
                <span class="position">Секритарь</span>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>

    <section class="py-5 bg-primary site-section how-it-works" id="howitworks-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-3 text-black">Как мы работаем?</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 text-center">
            <div class="pr-5 first-step">
              <span class="text-black">01.</span>
              <h3 class="text-black">Вы оформляете заявку</h3>
              <p class="text-black">Указываете минимальные данные</p>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="pr-5 second-step">
              <span class="text-black">02.</span>
              <h3 class="text-dark">Наш менеджер связывается с вами</h3>
              <p class="text-black">Обговариваете все детали заказа</p>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="pr-5">
              <span class="text-black">03.</span>
              <h3 class="text-dark">Приезжаете на оформление</h3>
              <p class="text-black">Оформляем договор</p>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="site-section" id="about-section">
      <div class="container">

        <div class="row large-gutters">
          <div class="col-lg-6 mb-5">

              <div class="owl-carousel slide-one-item with-dots">
                  <div><img src="{{ url_for('static', filename='images/123.jpg') }}" alt="Free website template by Free-Template.co" class="img-fluid"></div>
                  <div><img src="{{ url_for('static', filename='images/1234.jpg') }}" alt="Free website template by Free-Template.co" class="img-fluid"></div>
                  <div><img src="{{ url_for('static', filename='images/abc.jpg') }}" alt="Free website template by Free-Template.co" class="img-fluid"></div>
                </div>

          </div>
          <div class="col-lg-6 ml-auto">

            <h2 class="section-title mb-3">Почему именно мы?</h2>
                <p class="lead">Вот несколько причин</p>

                <ul class="list-unstyled ul-check success">
                  <li>Мы работаем с 1999 года</li>
                  <li>99% довольных клиентов</li>
                  <li>Нам доверяют более 25000 человек</li>
                  <li>Цены ниже чем у конкурентов</li>
                  <li>Индивидуальный подход к каждому.</li>
                </ul>

          </div>
        </div>
      </div>
    </section>








    <section class="site-section bg-light bg-image" id="contact-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Оформить заказ</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 mb-5">



            <form method="post" action="/submit" id="order" class="p-5 bg-white">

              <h2 class="h4 text-black mb-5">Заполните форму</h2>

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">Имя</label>
                  <input type="text" name="first_name" id="fname" class="form-control" minlength="2" onkeydown="return /[a-zA-Zа-яА-Я]/.test(event.key)" required>
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Фамилия</label>
                  <input type="text" name="last_name" id="lname" class="form-control" minlength="2" onkeydown="return /[a-zA-Zа-яА-Я]/.test(event.key)" required>
                </div>
              </div>

              <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" for="id_phone_number">Номер телефона</label>
                  <input type="tel" name="phone_number" id="id_phone_number" maxlength="16" minlength="16" class="form-control">
                </div>
              </div>

              <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" for="subject">Дата паркинга</label>
                  <input type="date" name="parking_date" id="subject" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="message">Комментарий</label>
                  <textarea name="comment" id="message" cols="30" rows="7" class="form-control" placeholder="Пожелания"></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Оформить заявку" class="btn btn-primary btn-md text-white">
                </div>
              </div>


            </form>
            <script>
            var currentDate = new Date().toISOString().split("T")[0];

// Устанавливаем атрибут "min" в поле "Дата паркинга"
document.getElementById('subject').setAttribute('min', currentDate);
              var nameRegex = /^[a-zA-Zа-яА-Я]+$/;

document.getElementById('fname').addEventListener('input', function () {
  var value = this.value;
  if (!nameRegex.test(value)) {
    this.setCustomValidity('Пожалуйста, используйте только русские и английские буквы.');
  } else {
    this.setCustomValidity('');
  }
});

document.getElementById('lname').addEventListener('input', function () {
  var value = this.value;
  if (!nameRegex.test(value)) {
    this.setCustomValidity('Пожалуйста, используйте только русские и английские буквы.');
  } else {
    this.setCustomValidity('');
  }
});

            </script>
            <script>
  // Получаем ссылку на форму
  var form = document.getElementById('order');
  var phoneNumberInput = document.getElementById('id_phone_number');
  var emailInput = document.getElementById('email');

  // Обработчик события oninput для поля phone_number
  phoneNumberInput.addEventListener('input', function(event) {
    formatPhoneNumber(event.target);
    validatePhoneNumber(event.target);
  });

  // Обработчик события oninput для поля email
  emailInput.addEventListener('input', function(event) {
    validateEmail(event.target);
  });

  // Функция для форматирования поля phone_number
  function formatPhoneNumber(input) {
  var phoneNumber = input.value.trim().replace(/[^0-9]/g, ''); // Удаляем все символы, кроме цифр
  var formattedPhoneNumber = '+7(' + phoneNumber.slice(1, 4) + ')' + phoneNumber.slice(4, 7) + '-' + phoneNumber.slice(7, 9) + '-' + phoneNumber.slice(9); // Форматируем номер

  input.value = formattedPhoneNumber;
}


  // Функция для валидации поля phone_number
  function validatePhoneNumber(input) {
    var phoneNumber = input.value.trim().replace(/[^0-9]/g, ''); // Удаляем все символы, кроме цифр

    if (phoneNumber.length !== 11) {
      input.classList.add('is-invalid');
    } else {
      input.classList.remove('is-invalid');
    }
  }

  // Функция для валидации поля email
  function validateEmail(input) {
    var email = input.value.trim();
    var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // Регулярное выражение для валидации email

    if (!emailRegex.test(email)) {
      input.classList.add('is-invalid');
    } else {
      input.classList.remove('is-invalid');
    }
  }

  // Обработчик отправки формы
  form.addEventListener('submit', function(event) {
    if (phoneNumberInput.classList.contains('is-invalid') || emailInput.classList.contains('is-invalid')) {
      event.preventDefault(); // Отменяем отправку формы, если валидация не пройдена
    }
  });

</script>
          </div>
          <div class="col-md-5">

            <div class="p-4 mb-3 bg-white">
              <p class="mb-0 font-weight-bold">Где мы?</p>
              <p class="mb-4">г. Москва, Бакунинская улица 56</p>

              <p class="mb-0 font-weight-bold">Телефон горячей линии</p>
              <p class="mb-4"><a href="#">8(800)-555-35-35</a></p>

              <p class="mb-0 font-weight-bold">Email</p>
              <p class="mb-0"><a href="#">slon@mail.ru</a></p>

            </div>

          </div>
        </div>
      </div>
    </section>


    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">О нас</h2>
                <p>Мы занимемся долгосрочным паркингом более 20 лет. Нам доверяют более 25000 клиентов. Присоединяйся!</p>
              </div>
              <div class="col-md-3 mx-auto">
                <h2 class="footer-heading mb-4">Быстрый доступ</h2>
                <ul class="list-unstyled">
                  <li><a href="#">Команда</a></li>
                  <li><a href="#">Как мы работаем</a></li>
                  <li><a href="#">Всё хорошо</a></li>
                  <li><a href="#">Оформить заказ</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <h2 class="footer-heading mb-4">Подписаться на рассылку</h2>
            <form action="#" method="post" class="footer-subscribe">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Введите свой Emai" aria-label="Enter Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary text-black" type="button" id="button-addon2">Отправить</button>
                </div>
              </div>
            </form>
            </div>

            <div class="">
              <h2 class="footer-heading mb-4">Подписывайтесь на нас</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-vk"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-telegram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-youtube"></span></a>
            </div>


          </div>
        </div>

      </div>
    </footer>

  </div> <!-- .site-wrap -->

  <a href="#top" class="gototop"><span class="icon-angle-double-up"></span></a>
  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  </body>

</html>